<!DOCTYPE html>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="layout">
    
    

<head>
    <title>Home</title>
    <style>
        body{padding-top:30px;}

.btn {
    border-radius: 0;
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
            transition: all 0.3s;
}
.btn-primary {
    background: #5295ce;
    border: 3px solid #428bca;
    color: #fff;
}
.btn-primary:hover,
.btn-primary:active {
    color: #FFF;
    background: #428bca;
    border-color: #428bca;
}

.btn-success {
    background: none;
    border: 3px solid #5cb85c;
    color: #5cb85c;
}
.btn-success:hover,
.btn-success:active {
    color: #FFF;
    background: #47a447;
}

.btn-info {
    background: none;
    border: 3px solid #5bc0de;
    color: #5bc0de;
}
.btn-info:hover,
.btn-info:active {
    color: #FFF;
    background: #39b3d7;
}

.btn-warning {
    background: none;
    border: 3px solid #f0ad4e;
    color: #f0ad4e;
}
.btn-warning:hover,
.btn-warning:active {
    color: #FFF;
    background: #ed9c28;
}

.btn-danger {
    background: none;
    border: 3px solid #d9534f;
    color: #d9534f;
}
.btn-danger:hover,
.btn-danger:active {
    color: #FFF;
    background: #d2322d;
}
    </style>
    <script>
        
    </script>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
	<div class="row">
        <div class="col-lg-4">
         <p sec:authorize="isAnonymous()" ><a th:href="@{/login}" class="btn btn-block btn-primary">Login</a></p>
    <p><a th:href="@{/home}" class="btn btn-block btn-primary">Korisnik</a></p>
    <p><a th:href="@{/admin/home}" class="btn btn-block btn-primary">Administrator</a></p>
    <p sec:authorize="isAuthenticated()"><a th:href="@{/logout}" class="btn btn-block btn-primary">Logout</a></p>
        </div>
	</div>
</div>

    
</div>

</body>

</html>